.ad {
    border: 1px solid #E6E5A3;
    border-radius: 5px;
    padding-bottom: 20px;
    overflow-x: hidden;
    z-index: 1;
}

.sg {
    z-index: 1;

}



.ads {
    /* background-color: #A9AF7E; */
    background-color: #EFF5F5;
}

.ad img {
    height: 250px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


.ad a {
    text-decoration: none;

}

.link {
    text-decoration: none;
    margin-right: 12px;
    padding: 3px 6px;
    color: #EFF5F5;

}

.list .link,
.list {
    text-decoration: none;
    display: flex;

}

.ad-page-list {
    flex-wrap: wrap;
}


.ad-all {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 15px;

}




/* for-small-devices*/
@media (min-width: 320px) and (max-width:480px) {

    .ad-all {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        gap: 5px;

    }

    .list {
        display: inline-block;
    }

    .card1 {
        position: relative;
        width: 280px;
        height: 80px;
        left: -70px;
        /* right: -50px; */
        border-radius: 50px;
        box-shadow: 0px 5px 20px rgba (0, 0, 0, 0.5);
        transition: 0.3s;
        padding: 5px 7px;
        background-color: #A7D2CB;
        /* color: #61dafb; */
        cursor: pointer;

    }

    .card1:hover {
        height: 100px;
    }

    .imgbox {
        position: relative;
        width: 100%;
        height: 100%;
        transform: translateY(-20px);
        z-index: 1;

    }

    .imh {
        width: 100%;
        /* height: 100%; */
        border-radius: 10px;
        box-shadow: 0px 5px 20px rgba (0, 0, 0, 0.5);
    }

    .content {
        padding: 5px 10px;
        text-align: center;
        transform: translateY(-350px);
        opacity: 0;
        transition: 0.3s;
    }

    .card1:hover>.content {
        opacity: 1;
        transform: translateY(-120px);
    }

    a.button3 {
        display: inline-block;
        padding: 2px 5px;
        margin: 0 0.3em 0.3em 0;
        border-radius: 1em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        color: #FFFFFF;
        background-color: #EB6440;
        text-align: center;
        transition: all 0.2s;
    }


}

/* for-tablet-devices */

@media (min-width: 481px) and (max-width : 768px) {
    .ad img {
        height: 150px;
        width: 350px;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .ad-all {
        display: grid;
        grid-template-columns: repeat(1, 2fr) !important;
        gap: 5px;
    }

    .ad img {
        height: 200px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .list {
        display: inline;
    }


    .card1 {
        position: relative;
        width: 280px;
        height: 0px;
        border-radius: 10px;
        box-shadow: 0px 5px 20px rgba (0, 0, 0, 0.5);
        transition: 0.3s;
        padding: 10px 20px;
        background-color: #A7D2CB;
        /* color: #61dafb; */
        cursor: pointer;

    }

    .card1:hover {
        height: 40px;
    }

    .imgbox {
        position: relative;
        width: 100%;
        height: 100%;
        transform: translateY(-80px);
        z-index: 1;

    }

    .imh {
        width: 100%;
        /* height: 100%; */
        border-radius: 10px;
        box-shadow: 0px 5px 20px rgba (0, 0, 0, 0.5);
    }

    .content {
        padding: 10px 20px;
        text-align: center;
        transform: translateY(-20px);
        opacity: 0;
        transition: 0.3s;
    }

    .card1:hover>.content {
        opacity: 1;
        transform: translateY(-20px);
    }
}


/* for-tablet-devices */

@media (min-width: 769px) and (max-width : 1200px) {
    .ad-all {
        display: grid;
        grid-template-columns: repeat(2, 2fr) !important;
        gap: 25px;
    }

    .ad img {
        height: 350px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .list {
        display: flex;
    }

}

.card1 {
    position: relative;
    width: 280px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba (0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 10px 20px;
    background-color: #A7D2CB;
    /* color: #61dafb; */
    cursor: pointer;

}

.card1:hover {
    height: 320px;
}

.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-100px);
    z-index: 1;

}

.imh {
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba (0, 0, 0, 0.5);
}

.content {
    padding: 10px 20px;
    text-align: center;
    transform: translateY(-450px);
    opacity: 0;
    transition: 0.3s;
}

.card1:hover>.content {
    opacity: 1;
    transform: translateY(-120px);
}


a.button3 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 1em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #EB6440;
    text-align: center;
    transition: all 0.2s;
}

a.button3:hover {
    background-color: #EB6440;

}

@media all and (max-width:30em) {
    a.button3 {
        display: block;
        margin: 0.2em auto;
    }
}