.bg4-image {
    height: 100vh;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('https://img.freepik.com/free-vector/error-404-concept-landing-page_52683-12188.jpg?w=740&t=st=1669323839~exp=1669324439~hmac=d17098ba8799049090c8e69dba639bd1ac6bd2e06d430fa5df5c07f40753f4de');
}