.carousel-item {
    height: 550px;
}


.bg-image {
    height: 100vh;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    /* filter: alpha(opacity=40); */
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
}

.cap {
    overflow-y: hidden;
}